{{#if user.jobs }}
  {{#each user.jobs as | job | }}
    <form class="relative edit-job-form d-none" action="" data-job="{{job.id}}">
      <div class="flex flex-col">
        <label class="input-label" for="name">Job Name</label>
        <input class="input-text mt-20" type="text" name="name" id="name" value="{{job.name}}">
        <label class="input-label mt-20" for="date_started">Date Started</label>
        <input class="input-text mt-20" type="text" name="date_started" id="date_started" value="{{job.dateStarted}}">
        <label class="input-label mt-20" for="date_ended">Date Ended</label>
        <input class="input-text mt-20" type="text" name="date_ended" id="date_ended" value="{{job.dateEnded}}">

        <label class="input-label mt-20" for="description">Job Description</label>
        <textarea class="mt-20 ft-18" name="description" id="description" cols="30" rows="10">{{job.description}}</textarea>
        <label class="input-label mt-20" for="job_role">Job Role</label>
        <input class="input-text mt-20" type="text" name="job_role" id="job_role" value="{{job.role}}">
        <label class="input-label mt-20" for="details">Details</label>
        {{#if job.details }}
          {{#each job.details as | detail | }}
          <input class="input-text mt-20 job-detail" type="text" name="detail" value="{{detail}}">
          {{/each}}
        {{/if}}
        <button class="button mt-20 add-job-detail">add detail</button>
      </div>
      <button class="save-button update-job-button button absolute">Save</button>
    </form>
  {{/each}}
{{/if}}
