{{#if user.projects }}
  {{#each user.projects as | project | }}
    <form class="relative edit-project-form d-none" action="" data-project="{{project.id}}">
      <div class="flex flex-col">
        <label class="input-label" for="name">Project Name</label>
        <input class="input-text mt-20" type="text" name="name" id="name" value="{{project.name}}">
        <label class="input-label mt-20" for="project_description">Job Description</label>
        <textarea class="mt-20 ft-18" name="project_description" id="project_description" cols="30" rows="10">{{project.description}}</textarea>
        <label class="input-label mt-20" for="github_link">Github Link</label>
        <input class="input-text mt-20" type="text" name="github_link" id="github_link" value="{{project.githubLink}}">
        <label class="input-label mt-20" for="demo_link">Demo Link</label>
        <input class="input-text mt-20" type="text" name="demo_link" id="demo_link" value="{{project.demoLink}}">
        <label class="input-label mt-20" for="image_link">Image Link</label>
        <input class="input-text mt-20" type="text" name="image_link" id="image_link" value="{{project.imageLink}}">
        <label class="input-label mt-20" for="tags">Project Tags</label>
        {{#if project.tags }}
          {{#each project.tags.list as | tag | }}
            <input class="input-text mt-20 project-tag" type="text" name="tag" value="{{tag}}">
          {{/each }}
        {{/if }}
        <button class="button medium-button mt-20 add-project-tag">add tag</button>
      </div>
      <button class="save-button button absolute update-project-button">Save</button>
    </form>
  {{/each}}
{{/if }}
