{{#if user.projects }}
  <table class="mb-40">
    <tr>
      <th>Project</th>
      <th>Github Link</th>
      <th>Demo Link</th>
      <th></th>
    </tr>
    <tr>
    {{#each user.projects as | project | }}
      <td>{{project.name}}</td>
      <td class="cell-link"><a href="{{project.githubLink}}">{{project.githubLink}}</a></td>
      <td class="cell-link"><a href="{{project.demoLink}}">{{project.demoLink}}</a></td>
      <td>
        <button class="button small-button edit-button edit-project-button">Edit</button>
        <button class="button small-button delete-button delete-project-button" data-project="{{project.id}}">Delete</button>
      </td>
    </tr>
    {{/each}}
  </table>
{{/if }}
