{{#if user.jobs }}
  {{#each user.jobs as | job | }}
    <form class="relative edit-job-form d-none" action="" data-job="{{job.id}}">
      <div class="flex flex-col">
        <label class="input-label" for="name">Job Name</label>
        <div class="input-border orange-gradient mt-20">
          <input class="input-text" type="text" name="name" id="name" value="{{job.name}}">
        </div>
        <label class="input-label mt-20" for="date_started">Date Started</label>
        <div class="input-border orange-gradient mt-20">
          <input class="input-text" type="text" name="date_started" id="date_started" value="{{job.dateStarted}}">
        </div>
        <label class="input-label mt-20" for="date_ended">Date Ended</label>
        <div class="input-border orange-gradient mt-20">
          <input class="input-text" type="text" name="date_ended" id="date_ended" value="{{job.dateEnded}}">
        </div>
        <label class="input-label mt-20" for="description">Job Description</label>
        <div class="text-area-border orange-gradient mt-20">
          <textarea class="text-area ft-18" name="description" id="description" cols="30" rows="10">{{job.description}}</textarea>
        </div>
        <label class="input-label mt-20" for="job_role">Job Role</label>
        <div class="input-border orange-gradient mt-20">
          <input class="input-text" type="text" name="job_role" id="job_role" value="{{job.role}}">
        </div>
        <label class="input-label mt-20" for="details">Details</label>
        {{#if job.details }}
          {{#each job.details.list as | detail | }}
          <div class="input-border orange-gradient mt-20">
            <input class="input-text job-detail" type="text" name="detail" value="{{detail}}">
          </div>
          {{/each}}
        {{/if}}
        <div class="button-border purple-gradient mt-20 w-fit">
          <button class="button add-job-detail">add detail</button>
        </div>
      </div>
      <div class="button-border purple-gradient save-button absolute">
        <button class="update-job-button button">Save</button>
      </div>
    </form>
  {{/each}}
{{/if}}
