{{#if user.projects }}
  <table class="mb-40 ft-24">
    <thead>
      <tr>
        <th>Project</th>
        <th>Github Link</th>
        <th>Demo Link</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {{#each user.projects as | project | }}
      <tr>
        <td>{{project.name}}</td>
        <td class="cell-link"><a href="{{project.githubLink}}">{{project.githubLink}}</a></td>
        <td class="cell-link"><a href="{{project.demoLink}}">{{project.demoLink}}</a></td>
        <td class="flex">
          <div class="button-border orange-gradient">
            <button class="button small-button edit-project-button">Edit</button>
          </div>
          <div class="button-border red-gradient">
            <button class="button small-button delete-project-button" data-project="{{project.id}}">Delete</button>
          </div>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{/if }}
